In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("D:/practice/MLproject/artifacts/data_ingestion/retail_price.csv")
data.head(10)

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.950000,39,161,2,...,89.900000,3.9,15.011897,215.000000,4.4,8.760000,45.950000,4.0,15.100000,45.900000
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.950000,39,161,2,...,89.900000,3.9,14.769216,209.000000,4.4,21.322000,45.950000,4.0,12.933333,45.950000
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.950000,39,161,2,...,89.900000,3.9,13.993833,205.000000,4.4,22.195932,45.950000,4.0,14.840000,45.950000
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.950000,39,161,2,...,89.900000,3.9,14.656757,199.509804,4.4,19.412885,45.950000,4.0,14.287500,45.950000
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.950000,39,161,2,...,89.900000,3.9,18.776522,163.398710,4.4,24.324687,45.950000,4.0,15.100000,45.950000
5,bed1,bed_bath_table,01-10-2017,3,137.85,15.100000,45.950000,39,161,2,...,89.900000,3.9,21.572143,45.950000,4.0,15.100000,45.950000,4.0,15.100000,45.950000
6,bed1,bed_bath_table,01-11-2017,11,445.85,15.832727,40.531818,39,161,2,...,89.900000,3.9,16.294000,40.531818,4.0,15.832727,40.531818,4.0,15.832727,45.950000
7,bed1,bed_bath_table,01-12-2017,6,239.94,15.230000,39.990000,39,161,2,...,88.488235,3.9,18.898333,39.990000,4.0,15.230000,39.990000,4.0,15.230000,40.531818
8,bed1,bed_bath_table,01-01-2018,19,759.81,16.533684,39.990000,39,161,2,...,86.900000,3.9,19.383529,39.990000,4.0,16.533684,39.990000,4.0,16.533684,39.990000
9,bed1,bed_bath_table,01-02-2018,18,719.82,13.749444,39.990000,39,161,2,...,86.900000,3.9,19.209091,39.990000,4.0,13.749444,39.990000,4.0,13.749444,39.990000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

In [4]:
data.columns

Index(['product_id', 'product_category_name', 'month_year', 'qty',
       'total_price', 'freight_price', 'unit_price', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'holiday', 'month',
       'year', 's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2',
       'comp_3', 'ps3', 'fp3', 'lag_price'],
      dtype='object')

In [5]:
data.isnull().sum()

product_id                    0
product_category_name         0
month_year                    0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

In [6]:
data['s'].unique()

array([ 10.26739356,   6.50311526,  12.07165109,   9.29387331,
         5.55555556,   8.33333333,  30.55555556,  16.66666667,
        17.75700935,  16.82242991,  15.88785047,  12.14953271,
         9.10714286,   7.67857143,  19.04761905,   7.61904762,
         9.52380952,   6.66666667,   8.57142857,  13.33333333,
        16.19047619,  10.47619048,  50.        ,  25.        ,
         7.59180791,  20.33898305,   7.62711864,  23.72881356,
        13.55932203,  20.83333333,  29.16666667,  12.5       ,
         7.87961282,   8.75680581,   8.71143376,  11.31276467,
         8.62068965,  18.96551724,  34.48275862,  17.24137931,
        19.29824561,  14.03508772,   5.26315789,   8.77192983,
        14.94444444,   9.14285714,   5.77777778,   9.80555556,
         7.3452381 ,   9.12301587,   8.00793651,  10.66666667,
        12.        ,  12.44444444,   8.44444444,  33.92857143,
         1.42857143,  17.14285714,  38.57142857,  41.42857143,
        34.21052632,  21.05263158,  28.94736842,  15.78947368,
         0.64102564,   1.28205128,   5.76923077,  14.74358974,
        27.56410256,  21.15384615,  20.51282051,   4.16666667,
        13.16964286,   8.40773809,  17.70833333,  23.80952381,
        33.33333333,   4.76190476,   9.70319635,  24.65753425,
        15.06849315,  19.17808219,  10.95890411,   8.21917808,
        12.32876712,   2.73972603,   4.10958904,  37.5       ,
         9.13444054,   8.83440417,  10.24669657,   9.26172869,
        14.38356164,  16.43835616,  17.80821918,  13.01369863,
        17.69911504,  15.04424779,  12.38938053,   4.07230197,
         7.38702818,   6.56565657,  18.18181818,  34.84848485,
        22.22222222,  20.52631579,  25.26315789,  13.68421053,
        14.73684211,  13.15789474,   7.89473684,  66.66666667,
        45.96774194,  36.29032258,   4.83870968,   8.06451613,
         2.41935484,   9.11516407,   2.42911755,   8.40766699,
         9.07136031,   7.76255708,  14.15525114,  39.7260274 ,
        14.61187215,  16.86046512,  20.93023256,  20.34883721,
         7.55813953,   8.02919708,  25.18248175,  18.61313869,
        12.77372263,  18.97810219,   9.8540146 ,   4.74452555,
         1.82481752,   2.        ,   8.66666667,  10.        ,
        25.33333333,  17.33333333,  18.        ,  18.66666667,
        14.18617614,   3.06577481,   3.97853958,   8.50752508,
        13.4057971 ,  14.13043478,  32.97101449,  18.47826087,
        18.75      ,  14.90384615,  22.11538462,  13.5483871 ,
        37.41935484,  11.61290323,  21.29032258,   5.80645161,
         3.22580645,   7.09677419,   4.07282282,   7.52627628,
         5.46171171,  13.51351351,  21.62162162,  35.13513514,
         8.10810811,  11.11111111,  19.44444444,  13.88888889,
         3.125     ,  52.08333333,  26.92307692,  15.38461538,
         7.69230769,   8.94230769,  10.80128205,   5.        ,
        15.        ,  32.5       ,  17.94871795,   3.84615385,
        12.82051282,  10.25641026,   8.97435897,   7.1396863 ,
         7.08937556,   3.49807635,   7.26102397,   7.07457828,
        10.55045872,   8.71559633,  37.6146789 ,  18.34862385,
        16.12903226,  28.38709677,   4.78127579,  10.47341115,
        10.04303738,  27.27272727,   1.51515151,  22.72727273,
         6.06060606,   2.33463035,  12.06225681,  33.07392996,
        44.35797665, 100.        ,  67.25663717,  23.00884956,
         3.53982301,   1.7699115 ,   0.88495575,  12.44918699,
         7.31707317,  13.41463415,   4.87804878,   9.75609756,
        20.73170732,  17.07317073,   6.09756098,   9.8536036 ,
        12.55630631,  16.21621622,  15.31531532,  14.41441441,
         9.00900901,   2.7027027 ,  10.81081081,  10.06889242,
        22.33704293,   3.19289878,  30.39215686,  29.41176471,
        12.74509804,   4.90196078,   1.36986301,  31.50684932,
        23.28767123,  41.66666667,  12.77173913,  11.27717391,
        10.80163043,   4.58559783,   8.55978261,   7.54076087,
         6.75951087,  10.36005435,  10.9375    ,  15.625     ,
        17.1875    ,  31.19469027,   9.73451327,  14.15929204,
        26.54867257,   2.65486726,  75.        ,  13.40206186,
        12.37113402,  10.30927835,  14.43298969,   9.27835051,
        12.12121212,  15.15151515,  42.42424242,  12.98701299,
        20.77922078,  16.88311688,  22.07792208,   5.64285714,
        13.92857143,  11.5       ,  12.39285714,   8.14285714,
        11.35714286,   6.07142857,   8.96428571,  14.28571429,
        10.85714286,  13.71428571,   5.14285714,  59.45945946,
        18.91891892,  14.86486486,  17.56756757,   4.05405405,
        12.16216216,   1.35135135,  11.58685065,  11.83035714,
        10.66355519,   7.5487013 ,   9.1112013 ,   5.2049513 ,
         5.19480519,  15.58441558,   8.87230153,   9.70469185,
         7.07912604,  18.23424443,  16.08743907,  12.26279596,
         7.88757834,   6.40668524,   3.89972145,  11.14206128,
         5.01392758,  13.28125   ,   2.07975986,  11.32075472,
        15.09433962,  64.1509434 ,   7.54716981,  34.09090909,
         9.09090909,  31.81818182,   4.54545455,  22.11055276,
        16.58291457,  10.55276382,  18.59296482,  14.07035176,
         4.0201005 ,   3.51758794,   2.74066461,  21.17163412,
        16.76944159,  21.97670435,  28.57142857,   6.47482014,
         0.71942446,  11.51079137,   3.5971223 ,   2.43511321,
         6.06495051,   4.38596491,  38.59649123,  41.22807018,
        29.53995157,  10.65375303,  15.73849879,  20.0968523 ,
        22.27602906,   0.4842615 ,   6.59385113,   9.30420712,
        12.84385113,  13.5315534 ,  15.47330097,  33.00970874,
        12.62135922,   8.73786408,   0.97087379,   5.93883357,
        13.82645804,  33.78378378,  37.83783784,   2.10526316,
         9.47368421,  17.89473684,  11.57894737,  16.9688676 ,
        29.72972973,   5.4054054 ,  32.43243243,   6.32911392,
        14.55696203,  17.72151899,  13.29113924,  12.02531646,
        10.12658228,   8.2278481 ,   7.51020408,   8.55102041,
         4.04081633,   9.06122449,   7.02040816,   7.14285714,
        17.34693878,  27.55102041,  22.        ,   8.70870871,
        17.41741742,  24.32432432,  19.81981982,  12.61261261,
         9.90990991,   1.8018018 ,   3.6036036 ,   7.88903061,
        10.54209184,  14.0327381 ,   7.07270408,   4.96173469,
         5.68664966,  11.45833333,  23.95833333,  17.55102041,
        10.20408163,   3.03030303,  30.3030303 ,   1.11111111,
        25.55555556,   4.44444444,   4.21052632,  12.63157895,
        16.84210526,  18.94736842,  62.5       ,  46.15384615,
        12.09677419,  12.90322581,   8.87096774,  17.74193548,
         5.64516129,  14.51612903,  10.48387097,  17.62007555,
         5.89314625,   9.82191042,   6.79978413,  13.86940097,
        23.52941176,   4.70588235,  21.17647059,   5.88235294,
         1.83486239,   5.50458716,  29.35779817,  92.30769231,
        17.05882353,  41.76470588,  15.88235294,   7.64705882,
         6.47058824,   4.11764706,   1.17647059,  43.83561644,
        32.75862069,  27.5862069 ,  13.79310345,  12.06896552,
         3.44827586,   6.89655172,   0.64935065,   6.49350649,
        38.31168831,  33.76623377])

In [7]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    STATUS_FILE: str
    unzip_data_dir: Path
    all_schema: dict

In [8]:
lib = %pwd
lib

'd:\\practice\\MLproject\\research'

In [9]:
import os

file_dir,file_name = os.path.split(lib)
file_dir

'd:\\practice\\MLproject'

In [10]:
import sys

sys.path.append(file_dir)

In [11]:
from src.mlProject.constants import *
from src.mlProject.utils.common import read_yaml, create_directories

In [12]:
from pathlib import Path

class ConfigurationManager:
    def __init__(
        self,
        config_filepath = r"D:\practice\MLproject\config\config.yaml",#change according to location of the dictionary
        params_filepath = r"D:\practice\MLproject\params.yaml",#change according to location of the dictionary
        schema_filepath = r"D:\practice\MLproject\schema.yaml"):#change according to location of the dictionary

        # Convert the string to a pathlib.Path object
        config_filepath = Path(config_filepath)
        params_filepath = Path(params_filepath)
        schema_filepath = Path(schema_filepath)

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])


    
    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir,
            STATUS_FILE=config.STATUS_FILE,
            unzip_data_dir = config.unzip_data_dir,
            all_schema=schema,
        )

        return data_validation_config

In [13]:
import os
from src.mlProject import logger

In [14]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config


    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv("artifacts/data_ingestion/retail_price.csv")
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [15]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2024-04-21 19:25:42,712: INFO: common: yaml file: D:\practice\MLproject\config\config.yaml loaded successfully]
[2024-04-21 19:25:42,718: INFO: common: yaml file: D:\practice\MLproject\params.yaml loaded successfully]
[2024-04-21 19:25:42,730: INFO: common: yaml file: D:\practice\MLproject\schema.yaml loaded successfully]
[2024-04-21 19:25:42,732: INFO: common: created directory at: artifacts]
[2024-04-21 19:25:42,732: INFO: common: created directory at: artifacts/data_validation]